<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="leg_as_robot">
 <xacro:macro name="create_leg">
  <xacro:include filename="$(find leg_as_robot)/urdf/right/leg.yaml.xacro"/>
  <xacro:include filename="$(find leg_as_robot)/urdf/right/leg.links.xacro"/>
  <xacro:include filename="$(find leg_as_robot)/urdf/right/leg.joints.xacro"/>
  <xacro:define_leg_links/>
  <xacro:define_leg_joints/>
 </xacro:macro>
</robot>
