[submodule "5_axis_platform"]
	path= 5_axis_platform	
	url = git@github.com:epfl-lasa/5_axis_platform.git
	branch=master
[submodule "surgical_gripper"]
	path= surgical_gripper	
	url = git@github.com:epfl-lasa/surgical_gripper.git
	branch=master
