
<launch>
 <arg name="id1" default="right"/>

 <arg name="virtual_tool" default="false"/>
 <arg name="virtual_leg" default="false"/>
 <arg name="control_input" default="platform"/>
 <arg name="rvizConfig" default="$(find surgical_sim)/rviz/scenario_with_platform.rviz"/>
 <arg name="subjectID" default="none"/>
 <arg name="magnitudeVibration" default="2.5"/>
 <arg name="decayRateVibration" default="2.0"/> 
 <arg name="frequencyVibration" default="70.0"/>
 <arg name="sharedGrasp" default="false"/>


 <include file="$(find surgical_sim)/launch/body/body.launch">
  <arg name="w_liver" value="true" />
  <arg name="rviz" value="true"/>
  <arg name="rvizConfig" value="$(arg rvizConfig)"/>
 </include> 

 <include file="$(find surgical_sim)/launch/tool/tool.launch">
  <arg name="id" value="$(arg id1)"/>
  <arg name="w_forceps" value="true" />
  <arg name="rviz" value="false"/>
  <arg name="virtual_tool" value="$(arg virtual_tool)"/>
  <arg name="control_input" value="$(arg control_input)"/>
  <arg name="sharedGrasp" value="$(arg sharedGrasp)"/>  
  <arg name="magnitudeVibration" value="$(arg magnitudeVibration)"/>
  <arg name="decayRateVibration" value="$(arg decayRateVibration)"/>
  <arg name="frequencyVibration" value="$(arg frequencyVibration)"/> 
  
 </include> 

 <include file="$(find surgical_sim)/launch/body/target.launch">
    <arg name="rviz" value="false"/>
    <arg name="virtual_target" value="false"/> 
    <arg name="target_name" value="needle"/>
    <arg name="tracking_mode" value="right"/>
    <arg name="subjectID" value="$(arg subjectID)"/>

 </include>

  <include file="$(find leg_as_robot)/launch/single_leg.launch">
      <arg name="id" value="$(arg id1)"/>
      <arg name="rviz" value="false"/>
      <arg name="virtual_leg" value="$(arg virtual_leg)"/>
  </include> 

 <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg id1)_tool_fixed_joint" args="0 0 0 0 0 0 /$(arg id1)/trocar_link /$(arg id1)/tool_base_link" /> -->
  
</launch>


