<?xml version="1.0" encoding="utf-8"?>
<robot name="surgical_tool" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find surgical_sim)/models/urdf/surgical_tool/tool_base/tool_base.links.xacro"/>
  <xacro:include filename="$(find surgical_sim)/models/urdf/surgical_tool/tool_base/tool_base.joints.xacro"/>  
  
  <xacro:macro name="create_tool_base" params="parent_link xyz rpy tool_id:=right">
    <xacro:create_tool_base_links
          parent_link="${parent_link}"
          xyz="${xyz}" rpy="${rpy}" tool_id="${tool_id}"/>
    <xacro:create_tool_base_joints
          parent_link="${parent_link}"
          xyz="${xyz}" rpy="${rpy}" tool_id="${tool_id}"/>
  </xacro:macro>



  
</robot>
