<?xml version="1.0"?>

<model>
  <name>h_lower_limb</name>
  <version>1.0</version>
  <!--urdf>urdf/h_lower_limb.urdf.xacro</urdf-->
  <sdf version="1.6">urdf/h_lower_limb.sdf</sdf>
  
  <author>
    <name>Jacob Hernandez</name>
    <email>jacob.hernandezsanchez@epfl.ch</email>
  </author>

  <description>
    The general model of the human lower limb for visualization
  </description>
</model>
