<?xml version="1.0" encoding="utf-8"?>
<robot name="panda" xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:include filename="$(find surgical_sim)/models/urdf/surgical_tool_panda/templates/gazebo.links.xacro"/>

  <xacro:property name="toolMass" value="0.1"/>
  <xacro:property name="toolLength" value="0.4"/>
  <xacro:property name="toolRadius" value="0.005"/>

  <xacro:macro name="create_tool_base_links" params="parent_link xyz rpy tool_id">


    <!-- link 3: tool_main_link -->
    <link name="${tool_id}_tool_main_link">
      <visual>
        <origin rpy="0 0 1.5708" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://surgical_sim/models/meshes/dae/tool/tool_main_.dae"/>      
        </geometry>
      </visual>
       <!-- <collision>
        <origin rpy="0 0 1.5708" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://surgical_sim/models/meshes/dae/tool/tool_main_.dae"/>      
        </geometry>
      </collision> -->
      <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="${toolMass}"/>
        <inertia ixx="${toolMass*(3*toolRadius*toolRadius+toolLength*toolLength)/12}" ixy="0" ixz="0" iyy="${toolMass*(3*toolRadius*toolRadius+toolLength*toolLength)/12}" iyz="0" izz="${toolMass*toolRadius*toolRadius/2}"/>
			</inertial> 
    </link>
    
    <!-- link 4: tool_wrist_link -->
    <link name="${tool_id}_tool_wrist_link">
      <visual>
        <origin rpy="0 0 1.5708" xyz="0 0 -0.0091"/>
        <geometry>
          <mesh filename="package://surgical_sim/models/meshes/dae/tool/tool_wrist_link.dae"/>      
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 1.5708" xyz="0 0 -0.0091"/>
        <geometry>
          <mesh filename="package://surgical_sim/models/meshes/dae/tool/tool_wrist_link.dae"/>      
        </geometry>
      </collision>
      <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.05"/>
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.005"/>
			</inertial> 
    </link>

    <!-- link 4-1: tool_wrist_shaft_link -->
    <link name="${tool_id}_tool_wrist_shaft_link">
      <visual>
        <origin rpy="1.5708 0 0" xyz="0 0.00401 0"/>
        <geometry>
          <mesh filename="package://surgical_sim/models/meshes/dae/tool/tool_wrist_shaft_link.dae"/> 
        </geometry>
      </visual>
      <collision>
        <origin rpy="1.5708 0 0" xyz="0 0.00401 0"/>
        <geometry>
          <mesh filename="package://surgical_sim/models/meshes/dae/tool/tool_wrist_shaft_link.dae"/> 
        </geometry>
      </collision>
      <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.05"/>
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.005"/>
			</inertial> 
    </link>


  
    <xacro:gazebo_links name="${tool_id}_tool_main_link"/> 
    <xacro:gazebo_links name="${tool_id}_tool_wrist_link"/>
    <xacro:gazebo_links name="${tool_id}_tool_wrist_shaft_link"/>
 
  </xacro:macro>
  

</robot>
