<launch>
	<arg name="id" default="right"/>
	<arg name="control_input" default="platform"/>
	<arg name="virtual_tool" default="false"/>
	<arg name="freq" default="10000.0"/>

	<arg name="magnitudeVibration" default="50.0"/>
	<arg name="decayRateVibration" default="60.0"/>
	<arg name="frequencyVibration" default="32.6"/>
	<arg name="sharedGrasp" default="false"/>
	<arg name="rosControl" default="true"/>
	
	<group if="$(arg rosControl)">
		<rosparam file="$(find surgical_sim)/config/right_tool_control.yaml" command="load" if="$(eval arg('id')=='right')" />
		<rosparam file="$(find surgical_sim)/config/left_tool_control.yaml" command="load" if="$(eval arg('id')=='left')" />

	    <node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller joint_position_controller"/>

	</group>
	
	<group if="$(arg virtual_tool)">
		<node name="tool_joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
			<param name="publish_frequency" type="double" value="$(arg freq)"/>
		</node>		
	</group>

	<group unless="$(arg virtual_tool)">
		<node name="tool_joint_state_publisher" pkg="surgical_sim" type="surgicalToolSim" output="screen">
			<param name="sharedGraspOn" value="$(arg sharedGrasp)"/>   
			<param name="rosControl" value="$(arg rosControl)"/>   
			<param name="toolID"            value="$(arg id)"/>
			<param name="controlInput"      value="$(arg control_input)"/>
			<param name="publish_frequency" type="double" value="$(arg freq)"/>
			<remap from="robot_description" to="/$(arg id)_tool/robot_description"/>
			<remap from="tool_tip_pose"      to="tool_joint_state_publisher/tool_tip_pose"/>
		</node>

	<!-- 
		<node name="shared_control_grasp" pkg="surgical_sim" type="sharedGrasp" output="screen">
			<param name="magnitudeVibration" value="$(arg magnitudeVibration)"/>
			<param name="decayRateVibration" value="$(arg decayRateVibration)"/>
			<param name="frequencyVibration" value="$(arg frequencyVibration)"/>
			<param name="toolID" value="$(arg id)"/>
			<param name="sharedGraspOn" value="$(arg sharedGrasp)"/>
			<param name="hapticGraspOn" value="false"/>
			<param name="publish_frequency" type="double" value="500.0" />
		</node>  
	-->

	</group>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen">
		<param name="publish_frequency" type="double" value="$(eval 2*arg('freq'))"/>
		<remap from="robot_description" to="/$(arg id)_tool/robot_description"/>
		<remap from="joint_states" to="/$(arg id)_tool/joint_states"/>
	</node>

</launch>