<?xml version="1.0"?>
<robot name="pancreas" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- properties /-->

  <!-- URDF model with default base_link (world)-->
  <xacro:macro name="surgical_frame" params="name base_link:=world *origin">

    <gazebo reference="${base_link}">
<!--       <static>true</static>
      <turnGravityOff>true</turnGravityOff> -->
    </gazebo>


    <!-- First (shoulder) element of the arm. Fixed to its parent. -->
    <joint name="${name}_base_joint" type="fixed">
      <insert_block name="origin"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${base_link}"/>
      <child link="${name}_base_link"/>
    </joint>


  <link name="${name}_base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 ${3.1415/2}"/>
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
<!--     <collision>
      <origin xyz="0 0 0" rpy="0 0 ${3.1415/2}"/>
      <geometry>
        <mesh filename="package://surgical_task/models/surgical_frame.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision> -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${3.1415/2}"/>
      <geometry>
        <!-- <mesh filename="package://foot_control_xy/models/h_lower_limb/meshes/foot.dae" scale="${0.05*$(arg scale)} ${0.05*$(arg scale)} ${0.05*$(arg scale)}"/> -->
        <!-- <mesh filename="package://surgical_simulator/models/Torso_Upper_Part.dae" scale="0.001 0.001 0.001"/> -->
        <mesh filename="package://surgical_task/models/surgical_frame.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

   </xacro:macro>

</robot>