<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<xacro:property name="fricCoeff1" value="0.1"/>
	<xacro:property name="fricCoeff2" value="0.1"/>
	<xacro:property name="kdCollision" value="1"/>

	<xacro:macro name="gazebo_links" params="name">
		<gazebo reference="${name}">
			<turnGravityOff>true</turnGravityOff>
			<mu1>${fricCoeff1}</mu1>
			<mu2>${fricCoeff2}</mu2>
			<!-- <kd>${kdCollision}</kd> -->
			<selfCollide>true</selfCollide>
			<maxVel>0.01</maxVel>
			<minDepth>0.001</minDepth>
		</gazebo>
	</xacro:macro>	
	
	
</robot>
