<?xml version="1.0" encoding="utf-8"?>
<robot name="surgical_tool" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find surgical_sim)/models/urdf/surgical_tool/tool_forceps/tool_t_forceps.links.xacro"/>
  <xacro:include filename="$(find surgical_sim)/models/urdf/surgical_tool/tool_forceps/tool_t_forceps.joints.xacro"/>
  
  <xacro:macro name="create_forceps" params="tool_id:=right connected_to">
    <xacro:create_forceps_links tool_id="${tool_id}"/>
    <xacro:create_forceps_joints tool_id="${tool_id}" connected_to="${connected_to}" />       
  </xacro:macro>


</robot>


