<?xml version="1.0" ?>
<robot name="body" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <!-- Macros -->
  <xacro:include filename="$(find surgical_sim)/urdf/body/torso/torso.urdf.xacro"/>

  <xacro:arg name="with_liver" default="true"/>
    
  <xacro:macro name="attach_liver" params="parent_link xyz rpy">
    <xacro:create_torso
        parent_link="${parent_link}"
        xyz="${xyz}" rpy="${rpy}"/>
     <!-- <xacro:create_liver/>  -->
  </xacro:macro>

 
 <!--                                                   -->

  <link name="world"/>

  <xacro:if value="$(arg with_liver)">
    <xacro:attach_liver
        parent_link="world"
        xyz="0.0 0.5 1.1" rpy="0.0 0.0 ${-pi/2}" />
  </xacro:if>

  <xacro:unless value="$(arg with_liver)">
  
  </xacro:unless>
  
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/body</robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>

</robot>
