<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Math constants -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- Mesh file name -->
  <xacro:property name="mesh_file_name" value="rokubimega.STL"/>

  <!-- Contact model -->
  <xacro:property name="kp" value="1000000.0"/>
  <xacro:property name="kd" value="1.5"/>
  <xacro:property name="mu" value="1.2"/>

  <!-- Sensor frame -->
  <xacro:property name="x_sf" value="0.3145"/> <!-- [m] 0.148 + 0.14075 + 0.02575-->
  <xacro:property name="y_sf" value="0.0"/> 
  <xacro:property name="z_sf" value="0.026"/> <!-- [m] -0.149 + 0.175 -->
  <!--roll, pitch, yaw -->
  <xacro:property name="r_sf" value="0.0"/>
  <xacro:property name="p_sf" value="0.0"/>
  <xacro:property name="yaw_sf" value="0.0"/>

  <!-- Sensor link -->
  <xacro:property name="x_sl" value="0.0" /> 
  <xacro:property name="y_sl" value="0.0" /> 
  <xacro:property name="z_sl" value="0.0" /> 
  <!--roll, pitch, yaw--> 
  <xacro:property name="r_sl" value="0.0" /> 
  <xacro:property name="p_sl" value="0.0" />
  <xacro:property name="yaw_sl" value="0.0" /> 

  <xacro:property name="m_sl" value="270"/> <!-- 269.8275 kg, with rho = 8050 kg/m^3 -->

  <xacro:property name="s_x_sl" value="0.0"/> 
  <xacro:property name="s_y_sl" value="0.0"/> 
  <xacro:property name="s_z_sl" value="0.0"/>

  <!--inertia with mass 269.8275 kg -->
  <xacro:property name="ixx_sl" value="10.0521"/> <!-- [kg * m^2] -->
  <xacro:property name="iyy_sl" value="7.7709"/> <!-- [kg * m^2] -->
  <xacro:property name="izz_sl" value="6.7325"/> <!-- [kg * m^2] -->
  <xacro:property name="ixy_sl" value="0.0096"/> <!-- [kg * m^2] -->
  <xacro:property name="ixz_sl" value="-0.1128"/> <!-- [kg * m^2] -->
  <xacro:property name="iyz_sl" value="0.0029"/> <!-- [kg * m^2] -->

  <xacro:property name="collision_r_sl" value="0.280"/> <!-- [m] sensor width=0.520 m -->
  <xacro:property name="collision_l_sl" value="0.570"/> <!-- [m] sensor length=0.550 m-->
  <xacro:property name="collision_x_offset_sl" value="-0.02575"/>
  <xacro:property name="collision_y_offset_sl" value="0.0"/>
  <xacro:property name="collision_z_offset_sl" value="-0.0"/>

</robot>
