<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Math constants -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- Mesh file name -->
  <xacro:property name="mesh_file_name" value="RKL100.stl"/>

  <!-- Contact model -->
  <xacro:property name="kp" value="1000000.0"/>
  <xacro:property name="kd" value="1.5"/>
  <xacro:property name="mu" value="1.2"/>

  <!-- Sensor frame -->
  <xacro:property name="x_sf" value="0.0"/>
  <xacro:property name="y_sf" value="0.0"/>
  <xacro:property name="z_sf" value="0.091"/> <!-- 0.018+0.055+0.018, adapter1+sensor+adapter2 -->
  <xacro:property name="r_sf" value="0.0"/>
  <xacro:property name="p_sf" value="0.0"/>
  <xacro:property name="yaw_sf" value="0.0"/>

  <!-- Sensor link -->
  <xacro:property name="x_sl" value="0.0" />
  <xacro:property name="y_sl" value="0.0" />
  <xacro:property name="z_sl" value="-0.028" /> <!-- -0.010-0.018, -sensor_visual_offset-adapter2  [m] -->
  <xacro:property name="r_sl" value="3.141593" />
  <xacro:property name="p_sl" value="0.0" />
  <xacro:property name="yaw_sl" value="0.0" />
  <xacro:property name="m_sl" value="2.5"/> <!-- [kg]  estimated value -->
  <xacro:property name="s_x_sl" value="0.0"/> <!-- COM [m] estimated value -->
  <xacro:property name="s_y_sl" value= "0.0"/> <!-- COM [m] estimated value -->
  <xacro:property name="s_z_sl" value="-0.033"/> <!-- -0.015-0.018 COM [m] estimated value-adapter2 -->
  <xacro:property name="ixx_sl" value="0.0"/> <!-- [kg * m^2] until I get the real value -->
  <xacro:property name="iyy_sl" value="0.0"/> <!-- [kg * m^2] until I get the real value-->
  <xacro:property name="izz_sl" value="0.0"/> <!-- [kg * m^2] until I get the real value-->
  <xacro:property name="ixy_sl" value="0.0"/> <!-- [kg * m^2] until I get the real value-->
  <xacro:property name="ixz_sl" value="0.0"/> <!-- [kg * m^2] until I get the real value-->
  <xacro:property name="iyz_sl" value="0.0"/> <!-- [kg * m^2] until I get the real value-->
  <xacro:property name="collision_r_sl" value="0.1"/> <!-- [m] -->
  <xacro:property name="collision_l_sl" value="0.055"/> <!-- [m] -->
  <xacro:property name="collision_x_offset_sl" value="0.0"/> <!-- [m] -->
  <xacro:property name="collision_y_offset_sl" value="0.0"/> <!-- [m] -->
  <xacro:property name="collision_z_offset_sl" value="-0.0455"/> <!-- -0.055/2-0.018, -sensor/2-adapter2  [m] -->

</robot>
