<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Math constants -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- Contact model -->
  <xacro:property name="kp" value="1000000.0"/>
  <xacro:property name="kd" value="1.5"/>
  <xacro:property name="mu" value="1.2"/>

  <!-- Sensor link -->
  <xacro:property name="x_sl" value="-0.1323" />
  <xacro:property name="y_sl" value="0.2458" />
  <xacro:property name="z_sl" value="-0.018" />

  <xacro:property name="r_sl" value="1.570796327" />
  <xacro:property name="p_sl" value="0.0" />
  <xacro:property name="yaw_sl" value="0.0" />

  <!-- Sensor frame -->
  <xacro:property name="x_sf" value="0.0"/>
  <xacro:property name="y_sf" value="0.0"/>
  <xacro:property name="z_sf" value="0.018"/>

</robot>
