<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rokubimini_description)/urdf_src/roku_force_torque_sensor.urdf.xacro"/>


  <xacro:macro name = "RKL100forceTorqueSensor" params = "frame_name link_name joint_name parent_name child_name">
    <!-- Load parameters for the sensor type -->
    <xacro:include filename="$(find rokubimini_description)/urdf_src/include/RKL100_parameters.urdf.xacro" ns="roku"/>

    <!-- Load the sensor joints and links -->
    <xacro:forceTorqueSensor frame_name="${frame_name}" link_name="${link_name}" joint_name="${joint_name}" parent_name="${parent_name}" child_name="${child_name}"/>

  </xacro:macro>

</robot>
