<?xml version="1.0" encoding="utf-8"?>
<robot name="surgical_tool" xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:include filename="$(find surgical_sim)/urdf/surgical_tool/templates/gazebo.links.xacro"/>

  <xacro:macro name="create_tool_base_links" params="parent_link xyz rpy">

    <!-- link 1: tool_yaw -->
    <link name="tool_yaw_link">
      <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.05"/>
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.005"/>
			</inertial> 
    </link>

    <!-- link 2: tool_pitch_link -->
    <link name="tool_pitch_link">
      <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.05"/>
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.005"/>
			</inertial> 
    </link>

    <link name="tool_roll_link">
      <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.05"/>
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.005"/>
			</inertial> 
    </link>

    <!-- link 3: tool_main_link -->
    <link name="tool_main_link">
      <visual>
        <origin rpy="0 0 1.5708" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://surgical_sim/model/meshes/dae/tool/tool_main_.dae"/>      
        </geometry>
      </visual>
      <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.05"/>
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.005"/>
			</inertial> 
    </link>
    
    <!-- link 4: tool_wrist_link -->
    <link name="tool_wrist_link">
      <visual>
        <origin rpy="0 0 1.5708" xyz="0 0 -0.0091"/>
        <geometry>
          <mesh filename="package://surgical_sim/model/meshes/dae/tool/tool_wrist_link.dae"/>      
        </geometry>
      </visual>
      <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.05"/>
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.005"/>
			</inertial> 
    </link>

    <!-- link 4-1: tool_wrist_shaft_link -->
    <link name="tool_wrist_shaft_link">
      <visual>
        <origin rpy="1.5708 0 0" xyz="0 0.00401 0"/>
        <geometry>
          <mesh filename="package://surgical_sim/model/meshes/dae/tool/tool_wrist_shaft_link.dae"/> 
        </geometry>
      </visual>
      <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.05"/>
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.005"/>
			</inertial> 
    </link>


    <xacro:gazebo_links name="tool_yaw_link"/>
    <xacro:gazebo_links name="tool_pitch_link"/> 
    <xacro:gazebo_links name="tool_main_link"/> 
    <xacro:gazebo_links name="tool_wrist_link"/>
    <xacro:gazebo_links name="tool_shaft_link"/>
 
  </xacro:macro>
  

</robot>
