<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="body_weight" value="${83}"/>  <!-- [kg] -->
  <xacro:property name="thigh_mass" value="${14.47 * body_weight / 100}"/> <!-- [kg] -->
  <xacro:property name="shin_mass" value="${4.57 * body_weight / 100}"/> <!-- [kg] -->
  <xacro:property name="foot_mass" value="${1.33 * body_weight / 100}"/> <!--[kg] -->

  <xacro:macro name="define_leg_links">
    <link name="virtual_platform_base_link"/>
    <link name="hip_base_link">
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://leg_as_robot/model/meshes/dae/leg_base_visual.dae"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://leg_as_robot/model/meshes/stl/leg_base_collision.stl"/>
          </geometry>      
        </collision>
    </link>
    <link name="hip_adduction_link"/> <!-- virtual link-->
    <link name="hip_extension_link"/> <!-- virtual link-->
    <link name="hip_roll_link" >
      <inertial>
      <origin xyz="0.00265863 -0.00827375 0.17215567" rpy="0 0 0"/>
      <mass value="${thigh_mass}"/><!-- kg -->
      <inertia ixx="0.25495934"  ixy="0.00092859"  ixz="-0.00803351" iyy="0.25972836" iyz="0.00151866" izz="0.05431793" />
    </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://leg_as_robot/model/meshes/dae/thigh_visual.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://leg_as_robot/model/meshes/stl/thigh_collision.stl"/>
        </geometry>      
      </collision>
    </link>
    <link name="knee_extension_link" >
      <inertial>
          <origin xyz="0.14893265 0.01010783 -0.00938572" rpy="0 0 0"/>
          <mass value="${shin_mass}"/><!-- kg -->
          <inertia ixx="0.00474593"  ixy="0.00116322"  ixz="0.00035670" iyy="0.04707968" iyz="0.00006150" izz="0.04724374" />
      </inertial>
          <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://leg_as_robot/model/meshes/dae/shin_visual.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://leg_as_robot/model/meshes/stl/shin_collision.stl"/>
        </geometry>      
      </collision>
    </link>   
    <link name="ankle_pitch_link" /> <!-- virtual link-->
    <link name="ankle_roll_link" /> <!-- virtual link-->
    <link name="ankle_yaw_link">
        <inertial>
          <origin xyz="-0.00089807 -0.04499748 -0.04201224" rpy="0 0 0"/>
          <mass value="${foot_mass}"/><!-- kg -->
          <inertia ixx="0.00322038"  ixy="-0.00005516"  ixz="0.00007652" iyy="0.00084882" iyz="0.00056936" izz="0.00297569" />
      </inertial>
          <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://leg_as_robot/model/meshes/dae/foot_visual.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://leg_as_robot/model/meshes/stl/foot_collision.stl"/>
        </geometry>      
      </collision>
    </link>
    <link name="foot_base"/>
    <link name="foot_tip"/>
    <link name="virtual_pedal_tip"/>
  </xacro:macro>
</robot>