<?xml version="1.0" ?>
<robot name="body" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <!-- Macros -->
  <xacro:include filename="$(find surgical_sim)/models/urdf/body/torso/torso.urdf.xacro"/>

  <xacro:arg name="with_liver" default="false"/>
  <xacro:arg name="attached_to" default="world"/>
  <xacro:arg name="bodyOrigin_x" default="0.0"/>
  <xacro:arg name="bodyOrigin_y" default="0.5"/>
  <xacro:arg name="bodyOrigin_z" default="1.1"/>
  <xacro:arg name="bodyOrigin_ax" default="0.0"/>
  <xacro:arg name="bodyOrigin_ay" default="0.0"/>
  <xacro:arg name="bodyOrigin_az" default="0.0"/>  
 
 <!--                                                   -->

  <link name="$(arg attached_to)"/>

   <xacro:create_torso
        parent_link="$(arg attached_to)"
        xyz="$(arg bodyOrigin_x) $(arg bodyOrigin_y) $(arg bodyOrigin_z)" 
        rpy="$(arg bodyOrigin_ax) $(arg bodyOrigin_ay) $(arg bodyOrigin_az)"/>

  <!-- <xacro:if value="$(arg with_liver)">
    <xacro:attach_liver
        parent_link="world"
        xyz="0.0 0.5 1.1" rpy="0.0 0.0 0" />
  </xacro:if> -->

  <!-- <xacro:unless value="$(arg with_liver)">
  
  </xacro:unless>
   -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/body</robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>

</robot>
