
<launch>
  <arg name="model" default="$(find surgical_sim)/models/urdf/body/body_create.urdf.xacro" />
  <arg name="gazebo_gui" default="true" />
  <arg name="w_liver" default="true" />
  <arg name="attached_to" default="world" />
  <arg name="rviz" default="true"/>
  <arg name="rvizConfig" default="$(find surgical_sim)/rviz/body_view.rviz"/>
  <arg name="bodyOrigin_x" default="0.0"/>
  <arg name="bodyOrigin_y" default="0.5"/>
  <arg name="bodyOrigin_z" default="1.1"/>
  <arg name="bodyOrigin_ax" default="0.0"/>
  <arg name="bodyOrigin_ay" default="0.0"/>
  <arg name="bodyOrigin_az" default="0.0"/> 
  <arg name="spawn_delay" default="0"/>
   

   <group ns="body">
     <param name="robot_description" command="rosrun xacro xacro --inorder $(arg model) with_liver:=$(arg w_liver) 
                                              attached_to:=$(arg attached_to)
                                              bodyOrigin_x:=$(arg bodyOrigin_x)
                                              bodyOrigin_y:=$(arg bodyOrigin_y)
                                              bodyOrigin_z:=$(arg bodyOrigin_z)
                                              bodyOrigin_ax:=$(arg bodyOrigin_ax)
                                              bodyOrigin_ay:=$(arg bodyOrigin_ay)
                                              bodyOrigin_az:=$(arg bodyOrigin_az)
                                              "/>
     <node pkg="robot_state_publisher" type="robot_state_publisher"  name="body_state_publisher"/>
   </group>
  

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizConfig)" />
  </group>
  
    
    <include file="$(find surgical_sim)/launch/robot.gazebo.launch">
      <arg name="gui" value="$(arg gazebo_gui)"/>
      <arg name="gazeboBringUp" value="$(arg rviz)"/>  
    </include> 

    <node name="spawn_body" pkg="gazebo_ros" type="spawn_model" launch-prefix="bash -c 'sleep $(arg spawn_delay); $0 $@'" 
        args="-urdf -model body -param /body/robot_description " respawn="false" output="screen" />


</launch>


