<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

	<xacro:arg name="gazebo" default="true"/>
	<xacro:arg name="arm_id" default="right"/>
  <xacro:arg name="origin_x" default="0"/>
  <xacro:arg name="origin_y" default="0"/>
  <xacro:arg name="origin_z" default="0"/>
  <xacro:arg name="origin_ax" default="0"/>
  <xacro:arg name="origin_ay" default="0"/>
  <xacro:arg name="origin_az" default="0"/>
  
  <gazebo reference="world">
  </gazebo>

  <xacro:include filename="$(find surgical_sim)/models/urdf/franka/panda_arm.xacro" >
  	<xacro:arg name="gazebo" value="${gazebo}"/>
  </xacro:include>

  <xacro:panda_arm connected_to='world' arm_id="$(arg arm_id)" xyz='$(arg origin_x) $(arg origin_y) $(arg origin_z)' rpy='$(arg origin_ax) $(arg origin_ay) $(arg origin_az)'/>
  
</robot>
