<launch>
	<node respawn="true" pkg="joy"
	type="joy_node" name="joy_input_right" >
	<param name="dev" type="string" value="/dev/input/js1" />
	<param name="deadzone" value="0.12" />
	<!-- <remap from="joy" to="right_foot/joy" /> -->
	</node>

	<!-- Axes -->
<!-- 	<param name="axis_x" value="0" type="int"/>
	<param name="axis_y" value="1" type="int"/>
	<param name="axis_z" value="4" type="int"/>
	<node pkg="foot_control_xy" type="joy_control" name="joyControl_right" args="right_foot" output="screen"/> -->
	
</launch>