<launch>
  <arg name="virtual_legs" default="true"/>
  <arg name="rvizconfig" default="$(find leg_as_robot)/rviz/base/legs_alone.rviz" />
  
  <arg name="rviz"        default="true"/>

  <include file="$(find leg_as_robot)/launch/chair.launch" >
     <arg name="rviz"        value="false"/>
  </include>

  <include file="$(find leg_as_robot)/launch/leg.launch" >
    <arg name="id" value="right" />
    <arg name="virtual_leg" value="$(arg virtual_legs)"/>
    <arg name="offset_x" value="$(eval 0.24/2.0)"/>
    <arg name="offset_y" value="0"/>
    <arg name="offset_z" value="0"/>
    <arg name="rviz" value="false"/>

  </include>

  <include file="$(find leg_as_robot)/launch/leg.launch" >
    <arg name="id" value="left" />
    <arg name="virtual_leg" value="$(arg virtual_legs)"/>
    <arg name="offset_x" value="$(eval -0.24/2.0)"/>
    <arg name="offset_y" value="0"/>
    <arg name="offset_z" value="0"/>
    <arg name="rviz" value="false"/>
    
  </include>

  <group if="$(arg rviz)"> 
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/> 
  </group>

</launch>
