<launch>
		<arg name="paused" default="true"/>
		<arg name="gui" default="true"/>
		<arg name="headless" default="false"/>
		<arg name="debug" default="false"/>	
		<arg name="use_sim_time" default="false"/>
		<arg name="scale_" default="0.5"/>
		<arg name="standalone" default="true"/>	


		<arg name="scale.t" default="0.5"/>
		<arg name="scale.c" default="0.5"/>



	<!--START-WORLD-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find foot_control_xy)/worlds/experiment_1.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>			
	</include>
	<!--INCLUDE-AGENTS-->
	<group if="$(arg standalone)">
		<arg name="chaser_init_pose" default="-x 0.0 -y 0.0 -z 0.1 -qx 0.0 -qy 0.0 -qy 0.0 -qz 1.0"/>
		<arg name="target_init_pose" default="-x 1.0 -y 2.0 -z 0.1 -qx 0.0 -qy 0.0 -qy 0.0 -qz 1.0"/>

		<arg name="enableJoystick" default="false"/>
 		<arg name="enableProtocol" default="false"/>

		<node name="worldChaserTransform" pkg="foot_control_xy" type="worldActorTransform" args="chaser $(arg chaser_init_pose)"/>
		<node name="worldTargetransform" pkg="foot_control_xy" type="worldActorTransform" args="target $(arg target_init_pose)"/>

		<group if="$(arg enableJoystick)">
			<include file="$(find foot_control_xy)/launch/includes/joystick.launch.xml"/>
		</group>

		<group if="$(arg enableProtocol)">
			<include file="$(find foot_control_xy)/launch/includes/protocol.launch.xml"/>
		</group>


	</group>

	<include file="$(find foot_control_xy)/launch/includes/scene_set.launch.xml">
		<arg name="scale.t" value="$(arg scale.t)"/>
		<arg name="scale.c" value="$(arg scale.c)"/>
	</include>
</launch>
