stages:
  - format-test
  - linter-test
  - build
  - deploy
  - release
  - docs

clang_format_test:
  stage: format-test
  image: ubuntu:bionic
  before_script:
    - apt update && apt install -y git clang-format-3.9
  script:
    - tests/check_clang_format.sh

clang_tidy_test:
  stage: linter-test
  image: osrf/ros:melodic-desktop-full
  before_script:
    - apt update && apt install -y git clang clang-tools clang-tidy build-essential python-catkin-tools
    - mkdir -p /root/catkin_ws/src && cp -r . /root/catkin_ws/src/rokubimini_sdk/
  script:
    - cd /root/catkin_ws/src
    - git clone https://github.com/ANYbotics/any_node.git && git clone https://github.com/ANYbotics/kindr.git && git clone https://github.com/ANYbotics/kindr_ros.git && git clone https://github.com/ANYbotics/message_logger.git && git clone https://github.com/ANYbotics/soem.git && git clone https://github.com/ANYbotics/signal_logger.git
    - . /opt/ros/melodic/setup.bash && cd /root/catkin_ws/ && rosdep install --from-path src --ignore-src -y -r && apt-get clean && cd /root/catkin_ws && catkin build rokubimini_sdk
    - cd /root/catkin_ws/src/rokubimini_sdk && tests/check_clang_tidy.sh

build_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  script:
    - docker build --no-cache --force-rm -t $CI_REGISTRY_IMAGE:latest .

deploy_image:
  only:
    - master
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  script:
    - docker build --no-cache --force-rm -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest

build_deb_packages:
  only:
    - master
  stage: release
  image: osrf/ros:melodic-desktop-full
  before_script:
    - apt update && apt install -y git build-essential python-catkin-tools dh-make fakeroot python-bloom
    - mkdir -p /root/catkin_ws/src && cp -r . /root/catkin_ws/src/rokubimini_sdk/
  script:
    - cd /root/catkin_ws/src
    - git clone https://github.com/ANYbotics/any_node.git && git clone https://github.com/ANYbotics/kindr.git && git clone https://github.com/ANYbotics/kindr_ros.git && git clone https://github.com/ANYbotics/message_logger.git && git clone https://github.com/ANYbotics/soem.git && git clone https://github.com/ANYbotics/signal_logger.git
    - . /opt/ros/melodic/setup.bash && cd /root/catkin_ws/ && rosdep install --from-path src --ignore-src -y -r && apt-get clean && catkin build rokubimini_sdk
    - cd /root/catkin_ws/src/rokubimini_sdk && ./create_debs.sh && mkdir -pv /builds/$CI_PROJECT_PATH/build && cp  /root/catkin_ws/packages/* /builds/$CI_PROJECT_PATH/build
  # The files which are to be made available in GitLab
  artifacts:
    paths:
      - build/*

pages:
  only:
    - master
  stage: docs
  image: alpine
  before_script:
    - apk update
    - apk add doxygen
    ## Uncomment the following line if you use graphviz dot graphs
    - apk add ttf-freefont graphviz
  script:
    - cd docs && doxygen Doxyfile && cd ..
    - mv docs/html/ public/
  artifacts:
    paths:
      - public
